<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SOS動画メール送信.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1212F03B1DDAB345006FA717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1212F04F1DDAB346006FA717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1212F05A1DDAB346006FA717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
